{% extends "blogs/base.html" %}
{% load static %}

{% block content %}
<div class="fh5co-loader"></div>

<div id="page">
    <div id="fh5co-aside" style="background-image: url({% static 'images/image_1.jpg' %})">
        <div class="overlay"></div>
        <nav role="navigation">
            <ul>
                <li><a href="/blogs/"><i class="icon-home"></i></a></li>
            </ul>
        </nav>
        <div class="featured">
            <span>Bio</span>

            <h2>I'm Peng Liang </a></h2>
        </div>
    </div>
    <div id="fh5co-main-content">
        <div class="fh5co-post">
            {% for article in latest_article_list %}
            <div class="fh5co-entry padding">
                <img src="{{STATIC_URL}}{{article.image}}" alt="Free HTML5 Bootstrap Template by FreeHTML5.co">

                <div>
                    <span class="fh5co-post-date">{{ article.release_time }}</span>

                    <h2><a href="/blogs/{{ article.id }}">{{ article.article_title }}</a></h2>

                    <p>{{ article.article_name }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if latest_article_list.has_previous %}
                        <a href="?page={{ latest_article_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ latest_article_list.number }} of {{ latest_article_list.paginator.num_pages }}.
                    </span>

                    {% if latest_article_list.has_next %}
                        <a href="?page={{ latest_article_list.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
{% endblock %}

